body {
  background-color: #100433;
}

.pageContainer{ 
   margin: auto;
   width: 90%;
   padding: 20px;
}

.divCustom {
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
  padding: 10px 0px 10px 10px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: 'Josefin Sans';
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.form-button {
  border: 1px solid gray;
  border-radius: 2px;
  background-color: white;
  padding: 7px 12px;
  margin: 0;
  cursor: pointer;
}

.form-button:hover {
  background-color: gray;
}

.delete-button{
  cursor: pointer;
  padding: 5px;
}

.delete-button:hover{
  border-radius: 5px;
  background-color: #B8B8B8;
}

input[type=text], select {
  display: inline-block;
  padding: 8px 8px 8px 20px;
  border: 1px solid #ccc;
  border-radius:4px;
  box-sizing: border-box;
  width: 32%;
}

#searchTxt {
  width: 99%;
  margin: 0px;
}

/*---Table Div---*/
table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 13px; 
  border-bottom: 1px solid #ddd;
}

tfoot {
  color: darkgray;
}

.formErLabel {
  color: #AA0303;
  border-radius: 3px;
}

#searchTxt {
  background: url(searchIcon.png) no-repeat scroll;
  background-position: 0px 10px;
  background-size: 16px 16px;
  padding-left: 15px;
}
