<div class="nt-simulator-list-header">
  <div data-col="name" class="nt-sort">Name</div>
  <div data-col="type_number" class="nt-sort">Type number</div>
  <div data-col="price" class="nt-sort">Price</div>
  <div class='the-last-cell'>
    <span>
      <button class="graphModalBtn icon-button">
        <i class="fa fa-bar-chart fa-2x"></i>
      </button>
    </span>
    <span class="nt-simulator-aggregate">
      <span class="nt-simulator-cnt"></span>
      <span class="nt-simulator-sum"></span>
    </span>
  </div>
</div>
<div class="nt-simulator-list-cont"></div>